
/****** Activites ***********/
.activites {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px; 
}

.activites-title {
    display: flex;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards a{
    display: flex;
    width: 23%;
    height: 439px;
}

.activites-cards .card {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
}

.activites-cards img {
    height: 86%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    display: flex;
    align-items: center;
    height: 14%;
    padding-left: 19px;
    padding-right: 19px;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}