/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #logo-booki {
        padding: 30px 50px;
    }

    .filters-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap : 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .activites-cards img {
        height: 74%;
    }

    .activites-cards .card-content {
        height: 26%;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
        padding: 0;
    }
    
    header {
        height : 115px;
        width: 100%;           
        flex-direction: column;
        justify-content: center;  
        align-items: center;
    }
    
    .nav-menu {
        gap: 0;
        width: 100%;    
        text-align: center;
    }
    
    .nav-menu a {
        margin: 0;
        width: 50%;
        padding-top: 0;
        padding-bottom: 16px;
        border-bottom: 2px solid #DADADA;                              
    }
       
    .nav-menu a:hover {
        border-top : none;                                      
        border-bottom: 2px solid var(--main-color);
        padding-top: 0;                                
        padding-bottom: 14px;                               
    }
    .search-title-container {
        height: 79px;
    }

    .search-container {
        width: 335px;
        justify-content: space-between;
    }
    .search-and-filters{
        width: calc(100% - 40px);
        padding: 0 20px;
    }

    .input-place {
        text-align: left;
        width: 186px;
    }

    .desk-search{
        display: none;
    }
    
    .mobile-search{
        display: block;
        height: 51px;
        width: 49px;
        color: #ffffff;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;       
    }

    .location-bluebloc {
        background-color: var(--main-color);
        height: 49px;
        width: 50px;
        border-radius: 11px 0 0 11px;
    }

    .fa-magnifying-glass {
        color : white;
        position: relative;

    }

    .filters-bar {
        flex-wrap: wrap;
        gap: 10px;
        row-gap : 20px;
    }

    .filter-button {
        width : 162.5px;
        font-size: 14px;
    }
    .i-circle {
        flex-shrink: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        gap: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .populaires {
        background-color: var(--main-bg-color);
        padding: 30px 20px 30px 20px;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        margin-top: 0; /*15px*/
    }

    .populaires-cards .card {
        width: 96%;
    }
    .hebergements {
        background-color: white;
        padding: 20px;
    }

    .hebergements-cards .card {
        width: 96%;
    }

    .hebergements-cards .cards-row {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards .card {
        height: 200px;
        margin-top: 0;
        width: 100%;
    }

    footer {
        display: flex;
        margin: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-menu{
        padding: 30px;
    }
}