
/****** Search and Filters ******/
.search-and-filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 35px;
}

.search-title-container {
    display: flex;
    height: 53px;
    flex-direction: column;
    gap: 8px;
}

/** search by city**/
.search-container {
    display: flex;
    height: 49px;
    width: 377px;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
    background: white;
}

.search-container * {
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.location-greybloc {
    background-color: var(--main-bg-color);
    height: 49px;
    width: 50px;
    border-radius: 11px 0 0 11px;
}

.fa-location-dot {
    color: black;
    position: relative;
    left : 18px;
    top : 15px;
}

.input-place {
    height: 47px;
    width: 147px;
    color: black;
    text-align: center;                                          
    font-family: Raleway;
}

.desk-search{
    height: 51px;
    width: 134px;
    color: #ffffff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-family: Raleway;   
}

.mobile-search{
    display: none;
}

/**Filters available*/ 
.filters-container{
    display: flex;
    align-items: center;
    gap : 15px;
}
.filters-bar {
    display: flex;
    gap: 15px;
}
.filter-button {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding: 4px 19px;
    background-color: white; 
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    font-family: Raleway;    
}

.filter-button .fa-solid{
    font-size: 20px;
    width: 22px;
    height: 22px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    transition: 0.3s;
}

.info-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
}

.i-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
}
.fa-info {
    font-size: 10px;
    position: relative;
    left : 10px;
    bottom : 3px;
}
